.wrapper {
  position: relative;

  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr auto;

  min-height: 100dvh;
}

.header {
  position: sticky;
  top: 0;

  display: flex;
  grid-area: header;
  align-items: center;

  height: 60px;
  padding-inline: 24px;

  background-color: white;
}

.main {
  grid-area: main;
  padding: 24px;
}

.footer {
  display: flex;
  grid-area: footer;
  align-items: center;

  padding: 12px 24px;

  background-color: white;
}
